body{
    background-image: url(../imagenes/fondo-principal.jpeg);
    background-attachment: fixed;
}
@import"../parciales/header";
@import"../parciales/main1";
@import"../parciales/footer";







#background2{
    background-image: url(../imagenes/fondo-nosotros.jpeg);
    background-size: cover;
    background-position: center;

}

